.header {
  background: $BLACK;

  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 6px 30px;

    .header__column {
      display: flex;
      flex: 1;
      i {
        color: $WHITE;
        font-size: 30px;
      }
      &:last-child {
        justify-content: flex-end;
      }

      form {
        width: 100%;
        input {
          padding: 5px 10px;
          border-radius: 2px;
          font-size: 16px;
        }
      }

      ul {
        display: flex;
        font-weight: 600;
        text-transform: uppercase;
        color: $WHITE;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}