html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: $GREY;
  color: $BLACK;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }
}

button,
input:not([type="file"]),
textarea,
.file-upload {
  padding: 8px 10px;
  width: 100%;
  max-width: 320px;
  min-height: 36px;
  border-radius: 5px;
  font-size: 14px;
  color: $BLACK;
  font-weight: 600;

  label,
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

button {
  border: none;
  background-color: #3498db;
  color: white;
}

button,
input[type="submit"] {
  cursor: pointer;
}