html,
body {
  height: 100%;
}

body {
  background: $GREY;
  color: $BLACK;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}